data/empire.db
data/empire-chain.pem
data/empire-priv.key
empire.debug
*.pyc
downloads/*
.vscode/*
.idea/*
*.txt
LastTask*
data/obfuscated_module_source/*.ps1
data/misc/ToObfuscate.ps1
data/misc/Obfuscated.ps1
setup/xar*/
setup/bomutils/
.venv
.DS_Store
venv/

data/dotnet/compiler/bin/Release/netcoreapp3.0/Confuser.Core.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/dnlib.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.deps.json
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.dll.config
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.pdb
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.runtimeconfig.dev.json
data/dotnet/compiler/bin/Release/netcoreapp3.0/EmpireCompiler.runtimeconfig.json
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Bcl.AsyncInterfaces.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Bcl.HashCode.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.CodeAnalysis.CSharp.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.CodeAnalysis.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Data.Sqlite.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.DotNet.PlatformAbstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Relational.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.EntityFrameworkCore.Sqlite.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Caching.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Caching.Memory.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.Binder.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Configuration.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyInjection.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.DependencyModel.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Logging.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Options.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.Extensions.Primitives.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.IdentityModel.Logging.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Microsoft.IdentityModel.Tokens.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/Newtonsoft.Json.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/SQLitePCLRaw.batteries_v2.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/SQLitePCLRaw.core.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/SQLitePCLRaw.nativelibrary.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/SQLitePCLRaw.provider.dynamic_cdecl.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.Collections.Immutable.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.CommandLine.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.ComponentModel.Annotations.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.Diagnostics.DiagnosticSource.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.Runtime.CompilerServices.Unsafe.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.Text.Encodings.Web.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/System.Text.Json.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/cs/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/de/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/de/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/es/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/es/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/fr/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/it/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/it/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ja/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ko/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/pl/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/pt-BR/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Confuser.Core.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/dnlib.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler.deps.json
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler.dll.config
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler.pdb
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/EmpireCompiler.runtimeconfig.json
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Bcl.AsyncInterfaces.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Bcl.HashCode.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.CodeAnalysis.CSharp.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.CodeAnalysis.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Data.Sqlite.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.DotNet.PlatformAbstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.EntityFrameworkCore.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.EntityFrameworkCore.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.EntityFrameworkCore.Relational.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.EntityFrameworkCore.Sqlite.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Caching.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Caching.Memory.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Configuration.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Configuration.Binder.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Configuration.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.DependencyInjection.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.DependencyInjection.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.DependencyModel.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Logging.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Options.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.Extensions.Primitives.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.IdentityModel.Logging.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Microsoft.IdentityModel.Tokens.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/Newtonsoft.Json.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/SQLitePCLRaw.batteries_v2.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/SQLitePCLRaw.core.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/SQLitePCLRaw.nativelibrary.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/SQLitePCLRaw.provider.dynamic_cdecl.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.Collections.Immutable.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.CommandLine.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.ComponentModel.Annotations.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.Diagnostics.DiagnosticSource.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.Runtime.CompilerServices.Unsafe.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.Text.Encodings.Web.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/System.Text.Json.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/cs/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/de/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/de/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/es/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/es/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/fr/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/it/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/it/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ja/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ko/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/pl/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/pl/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/pt-BR/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/ru/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/alpine-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-arm/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-arm64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-armel/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-musl-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/linux-x86/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/osx-x64/native/libe_sqlite3.dylib
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/win-arm/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/win-arm64/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/win-x64/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/runtimes/win-x86/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/tr/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/zh-Hans/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/publish/zh-Hant/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ru/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/ru/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/alpine-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-arm/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-arm64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-armel/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-musl-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-x64/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/linux-x86/native/libe_sqlite3.so
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/osx-x64/native/libe_sqlite3.dylib
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/win-arm/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/win-arm64/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/win-x64/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/runtimes/win-x86/native/e_sqlite3.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/tr/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/zh-Hans/Microsoft.CodeAnalysis.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.CSharp.resources.dll
data/dotnet/compiler/bin/Release/netcoreapp3.0/zh-Hant/Microsoft.CodeAnalysis.resources.dll
